@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;300;400;500;600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    scroll-behavior: smooth;
    font-family: 'Chivo Mono', monospace;
}

*h2 {
    font-size: 20px;
}

*p {
    font-size: 18px;
}


body {
    background-color: #7395ae;
}

.hero {
    justify-content: center;
    display: flex;
    margin: auto;
    width: 70%;
}

.hero .hi {
    
    margin-top: 300px;
	border: solid #557A95 3px; 
	border-top-left-radius: 12px; -webkit-border-top-left-radius: 10px; -moz-border-top-left-radius: 10px; 
	border-top-right-radius: 12px; -webkit-border-top-right-radius: 10px; -moz-border-top-right-radius: 10px; 
	border-bottom-left-radius: 12px; -webkit-border-bottom-left-radius: 10px; -moz-border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 12px; -webkit-border-bottom-right-radius: 10px; -moz-border-bottom-right-radius: 10px; 
    background: rgba(85, 122, 149, 0.6);
}

.hero .hi h2 {
    text-decoration: none;
    color:#e7dec1;
    padding: 20px;
}
.hero .hi p {
    
    color:#e7dec1;
    padding: 20px;
}
.hero .hi a{
    text-decoration: none!important;
    cursor: pointer;
}
.hero .hi a h2::hover {
    transition: all 0.3s ease;
    color:#aa7cd4;
}

footer .rights {
    padding-top: 10px;
    height: 10px;
}

footer .rights p {
    color:#e7dec1;
    text-align: center;
    font-size: 10px;
}

@media (max-width:600px) {  
    .hero {
        display: grid;
        height: 300px;
        font-size: 12px;
        width: 80%;
    }

    .hero .hi .links {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .hero .hi .links img[alt="anime"] {
        width: 80px;
        opacity:50%;
    }

    .hero .hi .links ul li a img {
        width: 35px;
    }

}
